.cell-container {
	width: 10px;
	height: 10px;
	/* border-radius: 2px; */
	background-color: rgb(49, 49, 49);
	border-width: 0.5px;
	/* border-color: rgb(255, 255, 255); */
	border-style: solid;
	cursor: pointer;
}

.cell-container:hover {
	background-color: rgb(0, 162, 255);
}

.active {
	background-color: rgb(228, 63, 118);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-color: rgb(131, 0, 44);
}

.active:hover {
	background-color: rgb(197, 39, 91);
}
